.checkbox {
    margin-top: 20px;
}

.alfredPhoto {
    background-image: url("/assets/alfred-majordome-outline.jpg");
    background-color: #cccccc;
    height: 500px;
    width: 200px;
    margin-top: 10px;
    margin-bottom: 30px;
    float: left;
}

.checkbox>label {
    color: #cccccc;
}

h1 {
    color: #cccccc;
}

.checkbox h1 {
    color: black;
    font-size: 26px;
}