<body>
        <div class="checkbox">
                <label><input type="checkbox" [(ngModel)]="childChosen" ng-init="childChosen = false">Service de Gardiennage</label>
        </div>
        <div class="checkbox">
            <label><input type="checkbox" [(ngModel)]="animalChosen" ng-init="animalChosen = false">service pour animaux</label>
        </div>
        <div class="checkbox">
            <label><input type="checkbox" [(ngModel)]="groceryChosen" ng-init="groceryChosen = false">Epicerie</label>
        </div>
        <div *ngIf="childChosen">
         <h1>Service de Gardiennage</h1>
        </div>
        <div *ngIf="animalChosen">
            <h1>Service Animal</h1>
        </div>
        <div *ngIf="groceryChosen">
             <h1>Epicerie</h1>
        </div>
       
</body>