<!-- Navigation -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top" style="background-color:rgba(54,60,66,1) !important;">
    <div class="container">
        <h2 style="color:white;font-weight:bold;">De quoi avez vous besoin ? </h2>
        <a class="navbar-brand" href="/" style="font-weight:bold;">Alfred<img class="majordomelogo" src="/assets/logomajordome.png" /></a>
    </div>
</nav>

<div class="container" style="margin:60px 35px 10px 35px;padding:25px 12%; color: black">


    <h1>Service d'épicerie - Votre liste d'épicerie</h1>
    <div class="container">
            
    <div *ngFor="let product of articles">

        <div *ngIf="product.article == 'Fromage'" class="row">
            <div class="col-sm"> <img src="assets/p1.jpg" alt="Img" class="product-grid__img" height="40" width="40" /> </div>
            <div class="col-sm"> {{product.article}} </div>
            <div class="col-sm"> {{product.nArticle}} </div>
        </div>

            <div *ngIf="product.article == 'Fromage'" class="row">
                <div class="col-sm"> <img src="assets/p1.jpg" alt="Img" class="product-grid__img" height="80" width="80" /> </div>
                <div class="col-sm"> {{product.article}} </div>
                <div class="col-sm"> {{product.nArticle}} </div>
            </div>

            <div *ngIf="product.article == 'Pomme'" class="row">
                <div class="col-sm"> <img src="assets/p2.jpg" alt="Img" class="product-grid__img" height="80" width="80" /> </div>
                <div class="col-sm"> {{product.article}} </div>
                <div class="col-sm"> {{product.nArticle}} </div>
        </div>

            <div *ngIf="product.article == 'Banane'" class="row">
                <div class="col-sm"> <img src="assets/p3.jpg" alt="Img" class="product-grid__img" height="80" width="80" /> </div>
                <div class="col-sm"> {{product.article}} </div>
                <div class="col-sm"> {{product.nArticle}} </div>
        </div>

            <div *ngIf="product.article == 'Rosbif'" class="row">
                <div class="col-sm"> <img src="assets/p4.jpg" alt="Img" class="product-grid__img" height="80" width="80" /> </div>
                <div class="col-sm"> {{product.article}} </div>
                <div class="col-sm"> {{product.nArticle}} </div>
        </div>

            <div *ngIf="product.article == 'Canard'" class="row">
                <div class="col-sm"> <img src="assets/p5.jpg" alt="Img" class="product-grid__img" height="80" width="80" /> </div>
                <div class="col-sm"> {{product.article}} </div>
                <div class="col-sm"> {{product.nArticle}} </div>
        </div>

            <div *ngIf="product.article == 'Saumon'" class="row">
                <div class="col-sm"> <img src="assets/p6.jpg" alt="Img" class="product-grid__img" height="80" width="80" /> </div>
                <div class="col-sm"> {{product.article}} </div>
                <div class="col-sm"> {{product.nArticle}} </div>
            </div>

            <div *ngIf="product.article == 'Thon'" class="row">
                <div class="col-sm"> <img src="assets/p7.jpg" alt="Img" class="product-grid__img" height="80" width="80" /> </div>
                <div class="col-sm"> {{product.article}} </div>
                <div class="col-sm"> {{product.nArticle}} </div>
        </div>

            <div *ngIf="product.article == 'Baguette'" class="row">
                <div class="col-sm"> <img src="assets/p8.jpg" alt="Img" class="product-grid__img" height="80" width="80" /> </div>
                <div class="col-sm"> {{product.article}} </div>
                <div class="col-sm"> {{product.nArticle}} </div>
        </div>

            <div *ngIf="product.article == 'Velo'" class="row">
                <div class="col-sm"> <img src="assets/p9.jpg" alt="Img" class="product-grid__img" height="80" width="80" /> </div>
                <div class="col-sm"> {{product.article}} </div>
                <div class="col-sm"> {{product.nArticle}} </div>
        </div>
        <br />
    </div>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" (click)="sauvegarderCommande()" data-toggle="modal" data-target="#exampleModalCenter">
            Confirmer majordome
         </button>

             <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Recherche d'un majordome</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                    </div>
                    <div class="modal-body" style="background-color: rgb(20,20,20);
                    color: white;text-align:center;">
                        <img width="100%" src="http://localhost:4200/assets/loading-anime.gif" />
                        <h1 style="margin-top:-45px;">En attente d'un majordome ...</h1>
                    </div>
                </div>
            </div>
        </div>
</div>
<!-- END MAIN -->