<div>
    <!-- MAIN -->
<p></p>
<p></p>
<p></p>

<p></p>
<p></p>
<p></p>
<p></p>

<p></p>
<p></p>
<p></p>
<p></p>

<p></p>
<p></p>
<p></p>
<p></p>

<p></p>
<p></p>
<p></p>
<p></p>

<p></p>
<p></p>
    <div class="container">
            
    <div *ngFor="let product of articles">

        <div *ngIf="product.article == 'Fromage'" class="row">
            <div class="col-sm"> <img src="assets/p1.jpg" alt="Img" class="product-grid__img" height="40" width="40" /> </div>
            <div class="col-sm"> {{product.article}} </div>
            <div class="col-sm"> {{product.nArticle}} </div>
        </div>

        <div *ngIf="product.article == 'Pomme'" class="row">
                <div class="col-sm"> <img src="assets/p2.jpg" alt="Img" class="product-grid__img" height="40" width="40" /> </div>
                <div class="col-sm"> {{product.article}} </div>
                <div class="col-sm"> {{product.nArticle}} </div>
        </div>

        <div *ngIf="product.article == 'Banane'" class="row">
                <div class="col-sm"> <img src="assets/p3.jpg" alt="Img" class="product-grid__img" height="40" width="40" /> </div>
                <div class="col-sm"> {{product.article}} </div>
                <div class="col-sm"> {{product.nArticle}} </div>
        </div>

        <div *ngIf="product.article == 'Rosbif'" class="row">
                <div class="col-sm"> <img src="assets/p4.jpg" alt="Img" class="product-grid__img" height="40" width="40" /> </div>
                <div class="col-sm"> {{product.article}} </div>
                <div class="col-sm"> {{product.nArticle}} </div>
        </div>

        <div *ngIf="product.article == 'Canard'" class="row">
                <div class="col-sm"> <img src="assets/p5.jpg" alt="Img" class="product-grid__img" height="40" width="40" /> </div>
                <div class="col-sm"> {{product.article}} </div>
                <div class="col-sm"> {{product.nArticle}} </div>
        </div>

        <div *ngIf="product.article == 'Saumon'" class="row">
                <div class="col-sm"> <img src="assets/p6.jpg" alt="Img" class="product-grid__img" height="40" width="40" /> </div>
                <div class="col-sm"> {{product.article}} </div>
                <div class="col-sm"> {{product.nArticle}} </div>
        </div>
        
        <div *ngIf="product.article == 'Thon'" class="row">
                <div class="col-sm"> <img src="assets/p7.jpg" alt="Img" class="product-grid__img" height="40" width="40" /> </div>
                <div class="col-sm"> {{product.article}} </div>
                <div class="col-sm"> {{product.nArticle}} </div>
        </div>

        <div *ngIf="product.article == 'Baguette'" class="row">
                <div class="col-sm"> <img src="assets/p8.jpg" alt="Img" class="product-grid__img" height="40" width="40" /> </div>
                <div class="col-sm"> {{product.article}} </div>
                <div class="col-sm"> {{product.nArticle}} </div>
        </div>

        <div *ngIf="product.article == 'Velo'" class="row">
                <div class="col-sm"> <img src="assets/p9.jpg" alt="Img" class="product-grid__img" height="40" width="40" /> </div>
                <div class="col-sm"> {{product.article}} </div>
                <div class="col-sm"> {{product.nArticle}} </div>
        </div>
    </div>
</div>
<!-- END MAIN -->