<!-- Navigation -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top" style="background-color:rgba(54,60,66,1) !important;">
    <div class="container">
        <h2 style="color:white;font-weight:bold;">De quoi avez vous besoin ? </h2>
        <a class="navbar-brand" href="/" style="font-weight:bold;">Alfred<img class="majordomelogo" src="/assets/logomajordome.png" /></a>
    </div>
</nav>

<div class="container" style="margin:60px 35px 10px 35px;padding:25px 12%; color: black">
    <h2> Service de gardiennage </h2>
    <div class="forms">
        <div class="form-group">
            <label for="usr">Nombre d'enfants:</label>
            <input type="text" class="form-control" id="childNumber" [(ngModel)]='garderie.nombre'>
        </div>
        <div class="form-group">
            <label for="pwd">Adresse:</label>
            <input type="password" class="form-control" id="Adresse" [(ngModel)]='garderie.adresse'>
        </div>
        <div class="form-group">
            <label for="usr">Heure de début:</label>
            <input type="text" class="form-control" id="startTime" [(ngModel)]='garderie.debut'>
        </div>
        <div class="form-group">
            <label for="pwd">Heure de fin:</label>
            <input type="password" class="form-control" id="EndTime" [(ngModel)]='garderie.fin'>
        </div>
        <div class="form-group">
            <label for="comment">Commentaires:</label>
            <textarea class="form-control" rows="5" id="comment" [(ngModel)]='garderie.commentaires'></textarea>
        </div>
        <a href="majordome" class="btn btn-primary btn-lg" role="button" (click)='sauvegarderGarderie()'>Rechercher majordome</a>
    </div>
</div>