<body>
    <div class="forms">
        <div class="form-group">
            <label for="usr">Nombre d'enfants:</label>
            <input type="text" class="form-control" id="childNumber">
        </div>
        <div class="form-group">
            <label for="pwd">Adresse:</label>
            <input type="password" class="form-control" id="Adresse">
        </div>
        <div class="form-group">
            <label for="usr">Heure de debut:</label>
            <input type="text" class="form-control" id="startTime">
        </div>
        <div class="form-group">
            <label for="pwd">HeureDeFin:</label>
            <input type="password" class="form-control" id="EndTime">
        </div>
        <div class="form-group">
            <label for="comment">Comment:</label>
            <textarea class="form-control" rows="5" id="comment"></textarea>
        </div>
        <a href="majordome" class="btn btn-primary btn-lg" role="button">Rechercher Majordome</a>
    </div>
</body>