<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="margin-top: 73px;">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
        <div class="carousel-item active" style="background-image: url('assets/child.jpg')">
            <a href="/gardien">
                <div class="carousel-caption d-none d-md-block">
                    <button type="button" class="btn btn-info" RouterLinkActive="active" [routerLink]="['gardiennage']">Service de Gardiennage</button>
                </div>
            </a>
        </div>
        <!-- Slide Two - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('assets/grocery.jpg')">
            <div class="carousel-caption d-none d-md-block">
                <button type="button" class="btn btn-info" RouterLinkActive="active" [routerLink]="['marchandise']">Epicerie</button>
            </div>
        </div>
        <!-- Slide Three - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('assets/animal.jpg')">
            <div class="carousel-caption d-none d-md-block">
                <button type="button" class="btn btn-info" RouterLinkActive="active" [routerLink]="['animaux']">Prise en charge d'animaux</button>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<!-- Page Content -->
<div class="container" style="padding:25px">
    <router-outlet></router-outlet>
    <h1 style="text-align:center;">Vous n'etes pas un client?</h1>

    <div class="row">
        <div class="col">
            <a href="majordome" class="btn btn-primary btn-lg" role="button">Accès<br />majordome</a>
        </div>
        <div class="col">
            <button type="button" class="btn btn-primary btn-lg" RouterLinkActive="active" [routerLink]="['marchand']">Accès<br />marchand</button>
        </div>
    </div>
</div>
<!-- /.container -->