<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top" style="background-color:rgba(54,60,66,1) !important;">
        <div class="container">
            <h2 style="color:white;font-weight:bold;">Choisissez votre Majordome </h2>
            <a class="navbar-brand" href="/" style="font-weight:bold;">Alfred<img class="majordomelogo" src="/assets/logomajordome.png" /></a>
        </div>
    </nav>

<h2 style="text-align:center">User Profile Card</h2>

<div class="card">
  <img src="/assets/jo.jpg" alt="Jo" style="width:100%">
  <h1>Jonathan Gervais-Ranger</h1>
  <p class="title">Age</p>
  <p>Telephone</p>
  <div style="margin: 24px 0;">
    <a href="#"><i class="fa fa-dribbble"></i></a> 
    <a href="#"><i class="fa fa-twitter"></i></a>  
    <a href="#"><i class="fa fa-linkedin"></i></a>  
    <a href="#"><i class="fa fa-facebook"></i></a> 
 </div>
 <a href="majordome" class="btn btn-primary btn-lg" role="button">Accepter</a>
 <a href="majordome" class="btn btn-primary btn-danger" role="button">Refuser</a>
</div>