<!-- Navigation -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top" style="background-color:rgba(54,60,66,1) !important;">
    <div class="container">
        <h2 style="color:white;font-weight:bold;">De quoi avez vous besoin ? </h2>
        <a class="navbar-brand" href="/" style="font-weight:bold;">Alfred<img class="majordomelogo" src="/assets/logomajordome.png" /></a>
    </div>
</nav>

<!-- Page Content -->
<div class="container" style="margin:60px 35px 10px 35px;padding:25px 12%; color: black">
    <h2> Service de promenade d'animaux </h2>
    <div> Nom de l'animal:<br /><input [(ngModel)]='animal.nomAnimal'> </div>
    <div> Description <br /><input [(ngModel)]='animal.description'> </div>
    <div> Besoins spécifiques <br /><input [(ngModel)]='animal.besoinsSpecifiques'> </div> <br />
    <!-- Button trigger modal -->
    <button type="button" (click)='sauvegarderAnimal()' class="btn btn-primary btn-lg" data-toggle="modal" data-target="#exampleModalCenter">
        Rechercher majordome
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Recherche d'un majordome</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
                </div>
                <div class="modal-body" style="background-color: rgb(20,20,20);
                color: white;text-align:center;">
                    <img width="100%" src="http://localhost:4200/assets/loading-anime.gif" />
                    <h1 style="margin-top:-45px;">En attente d'un majordome ...</h1>
                    <a [routerLink]="['/', 'Younes']"> Voir le profil du majordome </a>
                </div>
            </div>
        </div>
    </div>
</div>