<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top" style="background-color:rgba(54,60,66,1) !important;">
        <div class="container">
            <h2 style="color:white;font-weight:bold;">Pour quels services voulez-vous servir ? </h2>
            <a class="navbar-brand" href="/" style="font-weight:bold;">Alfred<img class="majordomelogo" src="/assets/logomajordome.png" /></a>
        </div>
    </nav>
<body>
        <div class="container">
                <div class="vendeurPhoto"></div>
                <a href="#" class="btn btn-primary btn-lg">Signaler des produits manquants</a>
        </div>
</body>

    