<h1> Recherche de client </h1>

<div class="container">
    <div *ngIf="animaux">
        <div *ngIf="animal">
            <label>nom : </label> {{animal.nomAnimal}} |
            <label>description : </label> {{animal.description}} |
            <label> specification </label> {{animal.besoinsSpecifiques}} |
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                Confirmer majordome
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Confirmation du service</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Êtes-vous certain de vouloir exécuter ce service ?
                            <br />
                            <label>nom : </label> {{animal.nomAnimal}}
                            <br />
                            <label>description : </label> {{animal.description}}
                            <br />
                            <label> specification </label> {{animal.besoinsSpecifiques}}

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal" RouterLinkActive="active" [routerLink]="['']">Je confirme.</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Je refuse.</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div *ngIf="magasinage">
            <div *ngFor="let product of epicerie">

                <label>Epicerie </label>
                <label> quantité :</label> {{product.numberArticle}}
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                    Confirmer majordome
                </button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Confirmation du service</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Êtes-vous certain de vouloir exécuter ce service ?
                                <br />
                                <div class="container">


                                    <div *ngIf="product.article == 'Fromage'" class="row">
                                        <div class="col-sm">
                                            <img src="assets/p1.jpg" alt="Img" class="product-grid__img" height="40" width="40"
                                            /> </div>
                                        <div class="col-sm"> {{product.article}} </div>
                                        <div class="col-sm"> {{product.nArticle}} </div>
                                    </div>

                                    <div *ngIf="product.article == 'Fromage'" class="row">
                                        <div class="col-sm">
                                            <img src="assets/p1.jpg" alt="Img" class="product-grid__img" height="80" width="80"
                                            /> </div>
                                        <div class="col-sm"> {{product.article}} </div>
                                        <div class="col-sm"> {{product.nArticle}} </div>
                                    </div>

                                    <div *ngIf="product.article == 'Pomme'" class="row">
                                        <div class="col-sm">
                                            <img src="assets/p2.jpg" alt="Img" class="product-grid__img" height="80" width="80"
                                            /> </div>
                                        <div class="col-sm"> {{product.article}} </div>
                                        <div class="col-sm"> {{product.nArticle}} </div>
                                    </div>

                                    <div *ngIf="product.article == 'Banane'" class="row">
                                        <div class="col-sm">
                                            <img src="assets/p3.jpg" alt="Img" class="product-grid__img" height="80" width="80"
                                            /> </div>
                                        <div class="col-sm"> {{product.article}} </div>
                                        <div class="col-sm"> {{product.nArticle}} </div>
                                    </div>

                                    <div *ngIf="product.article == 'Rosbif'" class="row">
                                        <div class="col-sm">
                                            <img src="assets/p4.jpg" alt="Img" class="product-grid__img" height="80" width="80"
                                            /> </div>
                                        <div class="col-sm"> {{product.article}} </div>
                                        <div class="col-sm"> {{product.nArticle}} </div>
                                    </div>

                                    <div *ngIf="product.article == 'Canard'" class="row">
                                        <div class="col-sm">
                                            <img src="assets/p5.jpg" alt="Img" class="product-grid__img" height="80" width="80"
                                            /> </div>
                                        <div class="col-sm"> {{product.article}} </div>
                                        <div class="col-sm"> {{product.nArticle}} </div>
                                    </div>

                                    <div *ngIf="product.article == 'Saumon'" class="row">
                                        <div class="col-sm">
                                            <img src="assets/p6.jpg" alt="Img" class="product-grid__img" height="80" width="80"
                                            /> </div>
                                        <div class="col-sm"> {{product.article}} </div>
                                        <div class="col-sm"> {{product.nArticle}} </div>
                                    </div>

                                    <div *ngIf="product.article == 'Thon'" class="row">
                                        <div class="col-sm">
                                            <img src="assets/p7.jpg" alt="Img" class="product-grid__img" height="80" width="80"
                                            /> </div>
                                        <div class="col-sm"> {{product.article}} </div>
                                        <div class="col-sm"> {{product.nArticle}} </div>
                                    </div>

                                    <div *ngIf="product.article == 'Baguette'" class="row">
                                        <div class="col-sm">
                                            <img src="assets/p8.jpg" alt="Img" class="product-grid__img" height="80" width="80"
                                            /> </div>
                                        <div class="col-sm"> {{product.article}} </div>
                                        <div class="col-sm"> {{product.nArticle}} </div>
                                    </div>

                                    <div *ngIf="product.article == 'Velo'" class="row">
                                        <div class="col-sm">
                                            <img src="assets/p9.jpg" alt="Img" class="product-grid__img" height="80" width="80"
                                            /> </div>
                                        <div class="col-sm"> {{product.article}} </div>
                                        <div class="col-sm"> {{product.nArticle}} </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" data-dismiss="modal" RouterLinkActive="active" [routerLink]="['']">Je confirme.</button>
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Je refuse.</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>